body {background-color: #FFFFFF;
    display:block;
    color:#C8A2C8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 1em;
    padding-right: 1em;}

header {background-color:#FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#C8A2C8;
    padding-left: 1em;
    padding-right: 1em;}

hl {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#C8A2C8;
    }
table {
    border-collapse: collapse;
    margin: auto;
    border: 1px solid #C8A2C8;
    width: 90%;
}
td,
th {
    padding: 5px;
    border: 1px solid #C8A2C8;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}