body {background-color: #FFFFFF;
    display:block;
    color:#C8A2C8;
    border-style: solid;
    border-color: #C8A2C8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-width: .1em;
    padding-left: 1em;
    padding-right: 1em;}

header {background-color:#FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#C8A2C8;
    padding-left: 1em;
    padding-right: 1em;}

hl {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#C8A2C8;
    }
