<!-- Future DocString-->

{% extends 'inventory/base.html' %}

{% block content %}


{% if cart_items %}
    <h1>Donation Cart Summary</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Vendor</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in cart_items %}
            <tr>
                <td>{{ entry.item.items }}</td>
                <td>{{ entry.vendor }}</td>
                <td>{{ entry.price }}</td>
                <td>{{ entry.quantity }}</td>
                <td>{{ entry.line_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Total</strong> {{ grand_total }}</p>
    <div>
        <a href="{% url 'item_list' %}" class="btn btn-primary">Back to Item List</a>
    </div>

   <!-- commenting out this segment for now.  <a href="{ url 'confirm_donation' }" class="btn-confirm">Confirm Donation</a>
{% else %}
    <p>Your cart is empty.</p> <a href="{ url 'item_list' }">Go see what's needed.</a> -->

{% endif %}

{% endblock %}