<!-- Future DocString-->

{% extends 'inventory/base.html' %}

{% block content %}


{% if cart_items %}
    <h1>Donation Cart Summary</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th></th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in cart_items %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{% if entry.image %}
                        <img src="{{ entry.image }}" alt="{{ entry.name }}" style="width:100px; height:auto;">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>{{ entry.price }}</td>
                <td>{{ entry.quantity }}</td>
                <td>{{ entry.line_total }}</td>
                <td><form action="{% url 'remove_from_cart' entry.item.id %}" method="POST" stye="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button> 
                </form>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Total</strong> {{ grand_total }}</p>
    <div>
        <a href="{% url 'item_list' %}" class="btn btn-primary">Back to Item List</a>
    </div>

   <!-- commenting out this segment for now.  <a href="{ url 'confirm_donation' }" class="btn-confirm">Confirm Donation</a>
{% else %}
    <p>Your cart is empty.</p> <a href="{ url 'item_list' }">Go see what's needed.</a> -->

{% endif %}

{% endblock %}