<!-- Future Doc String
 -->

{% extends 'inventory/base.html' %}

{% block content %}
    <h1>Donation List</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Priority</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{% if item.image %}
                        <img src="{{ item.image }}" alt="{{ item.name }}" style="width:100px; height:auto;">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>{{ item.priority }}</td>
                <td>{{ item.price }}</td>
                <td> 
                    <form action="{% url 'add_to_cart' item.id %}" method="POST">
                        {% csrf_token %}
                        <div class = "quantity-controls">
                            <label for="qty-{{ item.id }}">Quantity</label>
                            <input 
                                type="number" 
                                name="quantity" 
                                value="1" 
                                min="1"
                                max="{{ item.max_quantity }}"
                                required
                            >
                        </div>
                    <td>   
                            <button class= "btn btn-primary" type="submit">Add To Cart</button>
                    </td>    
                    </form> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{% url 'view_cart' %}" class="btn btn-primary">Go to Cart</a>
    </div>
   
{% endblock %}